@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #66b2b2
} 

#postbutt {
  background-color: #008080;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

#butt:hover {
  background: #66b2b2;
  color: #000;
}

#butt {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

#butt4:hover {
  background: #ffd451;
  color: #000;
}

#butt4 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

#butt3:hover {
  background: #ff3434;
  color: #000;
}

#butt3 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

#butt1:hover {
  background: #fff;
  color: #000;
}

#butt1 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createbutt:hover {
  background: #008080;
  color: #fff;
}

#createbutt {
  background: #aacc80;
  color: #000;
  border: 0px;
}

#disabledbutt {
  background: #bcbcbc;
  opacity: 0.7;
  border: 1px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

/* PHONE SCREEN */
@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* TABLET SCREEN? */
@media only screen and (max-width: 939px) {
  .form {
    width: 90%;
  }
  
  .heading h1 {
    font-size: 2rem;
  }
  
  .heading p {
    font-size: 1.5rem;
  }

  .ListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 90%;
  }
  .CatText {
    font-size: 25vw;
  }
}

/* MONITOR */
@media only screen and (min-width: 940px) {
  .ListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 45%;
  }
  .CatText {
    font-size: 15vw;
  }
}


/* ---------- HOME SCREEN ------- */
.Header {
  text-align: center;
}
.LinkItem {
  text-decoration: none;
  list-style-type: none;
}
.LinkItem:hover {
  text-decoration: underline;
}

/*------- SHOW POST ----------*/
.PostBody {
  white-space: pre-wrap;
}

/*---------- CATEGORY SCREEN -------*/
.CatText {
  font-family: 'Koulen', cursive;
  margin-right: 25px;
  color: #212121;
  text-decoration: none;
  margin-bottom: -25px;
}
.CatText:hover {
  text-decoration: underline;
}
